{% extends "base.html" %}
{% block body %}
<div data-role="page" class="jqm-demos jqm-home ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active" id="main-page">
    <div data-role="header" class="jqm-header ui-header" role="banner">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="col-xs-2 btn" style="text-align: center;margin-top: 3px">
                        <span class="h3"></span></span></div>
                    <div class="col-xs-8" style="text-align: center;margin-top: 10px">
                        <span class="h3">Friend</span>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-link fa fa-plus fa-2x pull-right" data-toggle="modal" data-target="#createNewFriendPop"></button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Modal -->
    <!-- POP UP  -->
    <div class="modal fade" id="createNewFriendPop" tabindex="-1" role="dialog" aria-labelledby="createNewFriendPopLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Add New Friend</h4>
                </div>
                <div class="modal-body">
                    <div class="">
                    <input type="text" class="form-control" id="inputusername3" placeholder="Username" required="required" name = "username">
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="createFriendBtn">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- POP UP -->
    <div class="modal fade" id="Deletefriendpop" tabindex="-1" role="dialog" aria-labelledby="DeletefriendpopLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="DeletefriendpopModalLabel">Delete the friend?</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="ModifyFriendListBtn">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div role="main" class="ui-content jqm-content container-fluid" style="background-color: #ffffff;margin-top: 50px;">
        <div class="row form-group list-group" style=" border-bottom: 1px solid black;">
            <div class="container-fluid">
                <div class="col-xs-10 list-infor" data-toggle="modal" data-target="#Deletefriendpop" style="margin: 5px;">
                <div class="col-xs-2">
                    <span><i class="fa fa-user-circle fa-2x" style="display: block"></i></span>
                </div>
                    <div><span style="font-size:18px; margin-left:5px">Username</span></div>
                    <!-- <div><span>Username@xxx.com</span></div> -->
                </div>
            </div>
        </div>
        {% for oneList in packingListSet %}
        <div class="row form-group list-group">
            <div class="container-fluid">
                <div class="col-xs-10 list-infor" data-toggle="modal" data-target="#Deletefriendpop">
                    <!-- Redirect to url_for('packing_list', list_id=oneList['id']) -->
                </div>
                <div class="col-xs-2">
                    <span><i class="fa fa-check" style="display: none"></i></span>
                    <span><i class="fa fa-clock-o" style="display: block"></i></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div data-role="footer" class="jqm-footer ui-footer">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header" style="padding-top: 10px;">
                    <div class="col-xs-3 active">
                        <div class="col-xs-12" style="text-align: center"><span class="fa fa-suitcase fa-2x"></span></div>
                        <div class="col-xs-12" style="text-align: center"><span>Plan</span></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="col-xs-12" style="text-align: center"><span class="fa fa-calendar-check-o fa-2x"></span></div>
                        <div class="col-xs-12" style="text-align: center"><span>Check</span></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="col-xs-12" style="text-align: center"><span class="fa fa-address-book fa-2x"></span></div>
                        <div class="col-xs-12" style="text-align: center"><span>Friends</span></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="col-xs-12" style="text-align: center"><span class="fa fa-cog fa-2x"></span></div>
                        <div class="col-xs-12" style="text-align: center"><span>Setting</span></div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</div>
<!-- /.ui-container-->

<script>
    $(document).ready(function(){
        $('.form-group .list-infor').on("tap", function () {

            if($(this).data('href')){
                location.href= $(this).data('href');
            }
        });


        $('.ui-list li,.ui-tiled li').click(function(){
            if($(this).data('href')){
                location.href= $(this).data('href');
            }
        });
        $("#createFriendBtn").on("tap", function () {
            window.location.href = "{{ url_for('home') }}";
        });
        $("#ModifyFriendListBtn").on("tap", function () {
            window.location.href = "{{ url_for('home') }}";
        });
    });
</script>
{% endblock %}
