{% extends "base.html" %}
{% block more_head %}
<link rel="stylesheet" href="/static/css/Login.css">
{% endblock %}
{% block body %}

	 <div data-role="page" class="jqm-demos jqm-home ui-page ui-page-theme-a ui-page-active" id="new-event-page" style="background-color: #00b4ef;">
	<!--<div style = "padding: 0; hight: 100%;">-->
		<div class="htmleaf-container" style = "padding: 0">
			<div class="demo form-bg" style="padding: 20px 0;">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-3 col-md-6">
							<form method="POST" class="form-horizontal">
		                        <span class="heading">
		                        	<img class="header-log" src="../static/image/Pack it.jpg" alt="Pack IT">
		                        </span>
								<div class="form-group">
									<input type="text" class="form-control" id="inputEmail3" name="username" placeholder="Username/Email" required="required">
									<i class="fa fa-user"></i>
								</div>
								<div class="form-group help">
									<input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password" required="required">
									<i class="fa fa-lock"></i>
									<!-- <a href="#" class="fa fa-question-circle"></a> -->
								</div>
								<div class="form-group">
									<div class="main-checkbox">
										<input type="checkbox" value="None" id="checkbox1" name="check"/>
										<label for="checkbox1"></label>
									</div>
									<span class="text">Remember me</span>
									<button type="submit" class="btn btn-default">SIGN IN</button>
								</div>
								<div class="form-group" style = "padding: 0 17%" id="signup">
									<button type="button" value="go" class="btn btn-default" >CREATE YOUR PACKIT ACCOUNT</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<footer>

			</footer>
		</div>
	</div>

<script>
	$(document).ready(function () {
		$('#flashes-message').showTopbarMessage({ background: "#ECECEC", close: 2000 });
		$("#signup").on("tap", function () {
            window.location.href = "{{ url_for('signup') }}";
        });
	});

</script>

{% endblock %}