<!DOCTYPE html>
<html class="ui-mobile">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>New Event</title>
    <!--<link rel="stylesheet" href="./css/frozen.css">-->
    <link rel="stylesheet" href="/static/css/demo.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/static/plugins/iCheck/css/flat/blue.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-slider/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <!--<script src="./js/jquery-1.8.3.js"></script>-->
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="/static/js/jquery.mobile-1.4.5.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/plugins/iCheck/js/icheck.js"></script>
    <script src="/static/plugins/bootstrap-slider/js/bootstrap-slider.min.js"></script>
    <script src="/static/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="/static/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/zepto.min.js"></script>
    <script src="/static/js/frozen.js"></script>
</head>
<body class="ui-mobile-viewport ui-overlay-a">
<div data-role="page" class="jqm-demos jqm-home ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active" id="main-page">
    <div data-role="header" class="jqm-header ui-header" role="banner">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="col-xs-2 btn" style="text-align: center;margin-top: 3px"><span class="h3">Edit</span></div>
                    <div class="col-xs-8" style="text-align: center;margin-top: 10px">
                        <span class="h3">Pack IT</span>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-link fa fa-plus fa-2x pull-right" data-toggle="modal" data-target="#createNewEventPop"></button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="createNewEventPop" tabindex="-1" role="dialog" aria-labelledby="createNewEventPopLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Create new event?</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="createEventBtn">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div role="main" class="ui-content jqm-content container-fluid" style="background-color: #ffffff;margin-top: 50px;" id="planPage">

    </div>

    <div data-role="footer" class="jqm-footer ui-footer">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header" style="padding-top: 10px;">
                    <div class="col-xs-3 active">
                        <div class="col-xs-12" style="text-align: center"><span class="fa fa-suitcase fa-2x"></span></div>
                        <div class="col-xs-12" style="text-align: center"><span>Plan</span></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="col-xs-12" style="text-align: center"><span class="fa fa-calendar-check-o fa-2x"></span></div>
                        <div class="col-xs-12" style="text-align: center"><span>Check</span></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="col-xs-12" style="text-align: center"><span class="fa fa-address-book fa-2x"></span></div>
                        <div class="col-xs-12" style="text-align: center"><span>Friends</span></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="col-xs-12" style="text-align: center"><span class="fa fa-cog fa-2x"></span></div>
                        <div class="col-xs-12" style="text-align: center"><span>Setting</span></div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</div>
<!-- /.ui-container-->

<script>
    $(document).ready(function(){
        $('.ui-list li,.ui-tiled li').click(function(){
            if($(this).data('href')){
                location.href= $(this).data('href');
            }
        });
//    $('.ui-header .ui-btn').click(function(){
//        location.href= 'index.html';
//    });
        $('.ui-header .ui-btn-add').click(function () {
            location.href= 'newEvent.html';
        });
        $("#createEventBtn").on("tap", function () {
            window.location.href = "newEvent.html";
        });
    });

</script>
</body>
</html>