{% extends "base.html" %}
{% block body %}

<div data-role="page" class="jqm-demos jqm-home ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active" id="new-event-page">
    <div data-role="header" class="jqm-header ui-header" role="banner">
        <h2 class="ui-header" role="heading">Pack IT</h2>
    </div>
    <div data-role="main" class="ui-content jqm-content" style="background-color: #00ffff">
        <form method="post" class="form-horizontal form-inline" role="form">
            <fieldset>
                <div class="form-group" style="text-align: center">
                    <h4>New Event</h4>
                </div>
                <!--Destination-->
                <div class="form-group">
                    <input id="destination" name="destination" type="text" placeholder="Input your destination" class="input-xlarge form-control">
                </div>
                <div class="form-group row">
                    <div class="controls">
                        <input id="datetimepicker" name="departureDate" class="span2 form-control" data-date-format="mm-dd-yyyy" size="16" type="text" value="11-02-2016" >
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <label class="control-label">
                        Length of Stay:
                        <span id="currentStayLength">5</span>
                    </label>
                    <div style="padding-left: 0px;margin-right: 0px;">
                        <input id="lengthOfStay" name="lengthOfStay" class="col-xs-6" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="5"/>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="controls">
                        <select name="luggageSize" class="input-xlarge form-control">
                            <option>Select Luggage Size</option>
                            <option>Backpack</option>
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="background-color: #ffffff;padding: 10px 0;">
                    <label class="col-xs-5 control-label">Display Quantity</label>
                    <div class="col-xs-7 controls" style="text-align: right">
                        <div class="switch" tabindex="0">
                            <input id="displayQuantity" name="displayQuantity" type="checkbox" />
                        </div>
                    </div>
                </div>

                <div class="form-group" style="background-color: #ffffff;padding: 10px 0;margin-bottom: 1px">
                    <label class="col-xs-5 control-label">Reminder</label>
                    <div class="col-xs-7 controls" style="text-align: right">
                        <div class="switch" tabindex="0">
                            <input id="remindMe" name="remindMe" type="checkbox" />
                        </div>
                    </div>

                </div>

                <div id="remindTimeSelectPanel" class="form-group" style="display: none; background-color: #ffffff;margin-bottom: 1px;">
                    <div class="controls">
                        <input id="remindTimePicker" name="remindTimePicker" class="span2 form-control" data-date-format="mm-dd-yyyy hh:ii" size="16" type="text" value="" placeholder="Select Remind Time" >
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 14px;">
                    <div class="col-xs-offset-4 controls">
                        <button type="submit" class="btn btn-default" id="selectActivitySubmit">Select Activities</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){

        var mySlider = $("#lengthOfStay").bootstrapSlider();
        //var slider = new Slider('#lengthOfStay', {});
        $("#lengthOfStay").on("slide", function(slideEvt) {
            $("#currentStayLength").text(slideEvt.value);
        });

        $('#datetimepicker').datetimepicker({
            minView: 'month',
            autoclose: 'true'
        });
        $('#remindTimePicker').datetimepicker({
            minView: 'day',
            autoclose: 'true'
        });

        $("#displayQuantity").bootstrapSwitch();
        $("#remindMe").bootstrapSwitch();
        $('#remindMe').on('switchChange.bootstrapSwitch', function(event, state) {
            if(state){
                $('#remindTimeSelectPanel').css('display','block');
            }else{
                $('#remindTimeSelectPanel').css('display','none');
            }
        });

        $("#remindPlus").on("tap", function () {
           var current = $("#remindTimeInput").val();
            current += 1;
            $("#remindTimeInput").val(current);
            $("#remindTimeLabel").text(current);
        });
        $("#remindMinus").on("tap", function () {
            var current = $("#remindTimeInput").val();
            current -= 1;
            if(current < 0) current = 0;
            $("#remindTimeInput").val(current);
            $("#remindTimeLabel").text(current);
        });
    });
</script>
{% endblock %}
