{% extends "base.html" %}
{% block more_head %}
<link rel="stylesheet" href="/static/plugins/iCheck/css/flat/red.css">
<script src="/static/plugins/iCheck/js/icheck.min.js"></script>
{% endblock %}
{% block body %}
<div data-role="page" class="jqm-demos jqm-home ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active" id="choosing-page">
    <div data-role="header" class="jqm-header ui-header" role="banner">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="padding-top: 5px;">
                    <div class="col-xs-2">
                        <button class="btn btn-link fa fa-plus fa-2x pull-right" data-toggle="modal" data-target="#addNewItemModel" data-itemname=""></button>
                    </div>
                    <div class="col-xs-8" style="text-align: center;margin-top: 10px">
                        <span class="h3">Packing List</span>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-link fa fa-share-square-o fa-2x pull-right" data-toggle="modal" data-target="#shareDialog"></button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
    <div role="main" class="ui-content jqm-content" style="background-color: #ffffff;margin-top: 50px; padding: 0; height: 100%;">
        <form method="post" class="form-horizontal" role="form" id="itemSelectForm" style="height: 100%;">
            <fieldset>
                <div class="to-check">
                    <ul class="list-group category-list" id="to_check_list">
                        {% for item in packingList %}
                            {% if not item['checked'] %}
                                <li class="list-group-item">
                            <form method="post" action="{{url_for('item_del_uni')}}" id="itemInforDetailForm">
                                <div class="behind">
                                    <a href="#" class="ui-btn delete-btn">Delete</a>
                                    <a href="#" class="ui-btn edit-btn pull-left" data-toggle="modal" 
                                       data-target="#ModifyItemDetail" data-itemID="{{ item['id'] }}" data-itemName="{{ item['name'] }}">Edit</a>
                                </div>
                                <div class="row form-group category">
                                    <div class="container-fluid">
                                        <div class="input-group category-item">
                                            <!--<span class="input-group-addon category-item-check"><input type="checkbox"></span>-->
                                            <input name="id" type="hidden" value="{{ item['id'] }}">
                                            <input name="name" type="text" class="form-control category-item-detail" disabled value="{{ item['name'] }}">
                                            <span class="input-group-btn">
                                                <button name="shareInfoButton" class="btn btn-lg btn-default category-item-info" type="button">
                                                    {% if item['public'] %}
                                                    <span name="public-item" class="fa fa-users"></span>
                                                    {% else %}
                                                    <span name="private-item" class="fa fa-user"></span>
                                                    {% endif %}
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="checked-already">
                    <div class="row form-group category-header" style="background-color: #ECECEC">
                        <div class="container-fluid packed-header">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;Packed</span>
                        </div>
                    </div>
                    <ul class="list-group category-list" id="checked_list">
                        {% for item in packingList %}
                            {% if item['checked'] %}
                                <li class="list-group-item">
                                    <form method="post" action="{{url_for('item_del_uni')}}" id="itemInforDetailForm">
                                        <div class="behind">
                                            <a href="#" class="ui-btn delete-btn">Delete</a>
                                            <a href="#" class="ui-btn edit-btn pull-left" data-toggle="modal" 
                                               data-target="#ModifyItemDetail" data-itemID="{{ item['id'] }}" data-itemName="{{ item['name'] }}">Edit</a>
                                        </div>
                                        <div class="row form-group category">
                                            <div class="container-fluid">
                                                <div class="input-group category-item">
                                                    <!--<span class="input-group-addon category-item-check"><input type="checkbox"></span>-->
                                                    <input name="id" type="hidden" value="{{ item['id'] }}">
                                                    <input name="name" type="text" class="form-control category-item-detail" disabled value="{{ item['name'] }}">
                                                    <span class="input-group-btn">
                                                        <button name="shareInfoButton" class="btn btn-lg btn-default category-item-info" type="button">
                                                            {% if item['public'] %}
                                                            <span name="public-item" class="fa fa-users"></span>
                                                            {% else %}
                                                            <span name="private-item" class="fa fa-user"></span>
                                                            {% endif %}
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </fieldset>
        </form>
    </div>

    <div data-role="footer" class="jqm-footer ui-footer">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container" style="padding-top: 8px;">
                <div class="navbar-header">
                    <div class="col-xs-4">
                        <div class="dropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Arrange by
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a href="#">By Category</a></li>
                                <li><a href="#">By Activity</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="dropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="showPackedMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="showPackedMenu">
                                <li><a id="showOnlyMyItems">Show only my items</a></li>
                                <li><a id="showOnlyPublicItems">Show only public items</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a type="button" href="{{url_for('home')}}" class="btn btn-success" style="color: #ffffff;">Save Now</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<!--Add new Item Modal-->
<div class="modal" id="addNewItemModel" tabindex="-1" role="dialog" aria-labelledby="addNewItemModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addNewItemModelLabel">Create New Item</h4>
            </div>
            <form method="post" action="{{url_for('item_new')}}" class="form-horizontal" id="addNewItemModelForm">
                <div class="modal-body">
                    <div class="">
                        <label for="new-item-name" class="form-control-label">Item Name:</label>
                        <input name="name" type="text" class="form-control" id="new-item-name" placeholder="* required" data-toggle="popover" 
                                data-placement="top" data-content="Item Name Required">
                    </div>
                    <div class="">
                        <label for="new-item-category-name" class="form-control-label">Category Name:</label>
                        <input name="categoryName" type="text" class="form-control" id="new-item-category-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addNewItemButton">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Edit Item Modal-->
<div class="modal" id="ModifyItemDetail" tabindex="-1" role="dialog" aria-labelledby="itemDetailLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="itemDetailLabel">Edit Item</h4>
            </div>
            <form method="post" action="{{url_for('item_put_uni')}}" class="form-horizontal" id="modifyItemModalForm">
                <div class="modal-body">
                    <div class="">
                        <label for="item-name" class="form-control-label">Item Name:</label>
                        <input name="id" id="edit-item-id" type="hidden" value="">
                        <input name="name" type="text" class="form-control" id="edit-item-name" placeholder="* required" data-toggle="popover" 
                                data-placement="top" data-content="Item Name cannot be empty">
                    </div>
                    <div class="">
                        <label for="category-name" class="form-control-label">Category Name:</label>
                        <input name="categoryName" type="text" class="form-control" id="category-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="editItemButton">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="shareDialog" tabindex="-1" role="dialog" aria-labelledby="shareDialogLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="shareDialogLabel">Choose Participants</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="">
                        <label for="item-name" class="form-control-label">Input Participants: </label>
                        <input type="text" class="form-control" id="item-name" placeholder="Input participant's Email" data-toggle="popover" 
                                data-placement="top" data-content="Input participant's Email">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addParticipantButton">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
        $(document).ready(function(){
            $('#ModifyItemDetail').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var itemName = button.data('itemname'); // Extract info from data-* attributes
                var itemID = button.data('itemID');
                var modal = $(this);
                modal.find('.modal-body #edit-item-name').val(itemName);
                modal.find('.modal-body #edit-item-id').val(itemID);
            });

            // add new item event
            $("#addNewItemButton").on("tap", function() {
                var itemName = $("#new-item-name").val();
                var categoryName = $("#new-item-category-name").val();
                if( itemName != "") {
                    $("#addNewItemModelForm").submit();
                    //var newItem = createNewItem(itemName);
                    
                    //$("#to_check_list").append(newItem);
                    //listOperation();
                    //$('#itemDetail').modal('hide')
                }else{
                    $("#new-item-name").popover('show');
                }
            });
            $("#packedButtonSubmit").on("tap", function() {
               $("#itemSelectForm").submit(); 
            });
                    function prevent_default(e) {
                        e.preventDefault();
                    }
                    function disable_scroll() {
                        $(document).on('touchmove', prevent_default);
                    }
                    function enable_scroll() {
                        $(document).unbind('touchmove', prevent_default)
                    }
                    var x;
                    $('.category-item')
                            .on('touchstart', function(e) {
                                $('.category-item.open').css('left', '0px').removeClass('open') // close em all
                                $(e.currentTarget).addClass('open')
                                x = e.originalEvent.targetTouches[0].pageX // anchor point
                            })
                            .on('touchmove', function(e) {
                                var change = e.originalEvent.targetTouches[0].pageX - x
                                change = Math.min(Math.max(-100, change), 100) // restrict to -100px left, 0px right
                                e.currentTarget.style.left = change + 'px'
                                if (change < -10) disable_scroll() // disable scroll once we hit 10px horizontal slide
                            })
                            .on('touchend', function(e) {
                                var left = parseInt(e.currentTarget.style.left)
                                var new_left;
                                if (left < -35) {
                                    new_left = '-100px'
                                } else if (left > 35) {
                                    new_left = '100px'
                                } else {
                                    new_left = '0px'
                                }
                                // e.currentTarget.style.left = new_left
                                $(e.currentTarget).animate({left: new_left}, 200)
                                enable_scroll()
                            });
                    $("li .delete-btn").on("touchend", function (e) {
                        e.preventDefault();
                        $("#itemInforDetailForm").submit();
                    });
                    $(".category-item-info").on("tap", function() {
                        var itemID = $(this).parent().prev().prev().val();
                        var shareInfo = $(this).find("span").attr("name");
                        var showItemInfo = $(this).find("span");
                        if(shareInfo == "public-item"){ //public item now,change to private
                            $.ajax({
                                url: '/item/' + itemID,
                                data: 'public=false',
                                type: 'PUT',
                                success: function(){
                                    showItemInfo.removeClass("fa-users");
                                    showItemInfo.addClass("fa-user");
                                    showItemInfo.attr("name","private-item");
                                },
                                error: function(){
                                    
                                }
                            });
                        }else{ //private item now,change to public
                            $.ajax({
                                url: '/item/' + itemID,
                                data: 'public=true',
                                type: 'PUT',
                                success: function(){
                                    showItemInfo.removeClass("fa-user");
                                    showItemInfo.addClass("fa-users");
                                    showItemInfo.attr("name","public-item");
                                },
                                error: function(){
                                    
                                }
                            });
                        }
                    });
                    $('.category-item-detail').on('tap', function(){
                        var itemID = $(this).prev().val();
                        var target = $(this).parents().closest(".list-group-item");
                        if(target.hasClass("checked-already")){
                            $.ajax({
                                url: '/item/' + itemID,
                                data: 'checked=false',
                                type: 'PUT',
                                success: function(){
                                    target.removeClass("checked-already");
                                    $("#to_check_list").append(target);
                                },
                                error: function(){
                                    alert("Error");
                                }
                            })
                        }else{
                            $.ajax({
                                url: '/item/' + itemID,
                                data: 'checked=true',
                                type: 'PUT',
                                success: function(){
                                    target.addClass("checked-already");
                                    $("#checked_list").append(target);
                                },
                                error: function(){
                                    alert("Error");
                                }
                            })
                        }
                    });
            
            function createNewItem(itemName){
                var newItem = '<li class="list-group-item">';
                    newItem += '<div class="behind"><a href="#" class="ui-btn delete-btn">Delete</a>';
                    newItem += '<a href="#" class="ui-btn edit-btn pull-left" data-toggle="modal" data-target="#itemDetail" data-itemName="' + itemName + '">Edit</a>';
                    newItem += '</div>';
                    newItem += '<div class="row form-group category" >';
                    newItem += '<div class="container-fluid">';
                    newItem += '<div class="input-group category-item">';
                    newItem += '<input type="text" class="form-control category-item-detail" disabled value="' + itemName + '">';
                    newItem += '<span class="input-group-btn">';
                    newItem += '<button class="btn btn-default category-item-info" type="button">';
                    newItem += '<span class="fa fa-user"></span></button></span></div></div></div>';
                return newItem;
            }

        });

    </script>

{% endblock %}