
<!DOCTYPE html>
<html class="ui-mobile">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>New Event</title>
    <!--<link rel="stylesheet" href="./css/frozen.css">-->
    <link rel="stylesheet" href="../static/css/demo.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="../static/plugins/iCheck/css/flat/blue.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-slider/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <!--<script src="./js/jquery-1.8.3.js"></script>-->
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="../static/js/jquery.mobile-1.4.5.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/plugins/iCheck/js/icheck.js"></script>
    <script src="../static/plugins/bootstrap-slider/js/bootstrap-slider.min.js"></script>
    <script src="../static/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="../static/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/zepto.min.js"></script>
    <script src="../static/js/frozen.js"></script>
</head>
<body class="ui-mobile-viewport ui-overlay-a">

<div data-role="page" class="jqm-demos jqm-home ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active" id="activity-page">
    <div data-role="header" class="jqm-header ui-header" role="banner">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="newEvent.html" class="fa fa-chevron-left fa-2x pull-left" style="margin: 10px;"></a>
                    <h3 class="ui-header" role="heading">Select Activity</h3>
                </div>
            </div>
        </nav>


    </div>

    <div role="main" class="ui-content jqm-content container-fluid" style="background-color: #00ffff;margin-top: 50px;">
        <form class="form-horizontal" role="form" id="activity-form">
            <fieldset>
                <div class="row form-group">
                    <div class="col-xs-4">
                        <div class="square-responsive">
                            <div class="content">
                                <div class="container-fluid">
                                    <div>
                                        <span class="fa fa-futbol-o fa-2x"></span>
                                    </div>
                                    <div style="margin-top: 20%;">
                                        <span>Sports</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="square-responsive">
                            <div class="content">
                                <div class="container-fluid">
                                    <div>
                                        <span class="fa fa-life-ring fa-2x"></span>
                                    </div>
                                    <div style="margin-top: 20%;">
                                        <span>Swimming</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="square-responsive">
                            <div class="content">
                                <div class="container-fluid">
                                    <div>
                                        <span class="fa fa-bicycle fa-2x"></span>
                                    </div>
                                    <div style="margin-top: 20%;">
                                        <span>Bicycling</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-4">
                        <div class="square-responsive">
                            <div class="content">
                                <div class="container-fluid">
                                    <div>
                                        <span class="fa fa-user-circle fa-2x"></span>
                                    </div>
                                    <div style="margin-top: 20%;">
                                        <span>Conference</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="square-responsive">
                            <div class="content">
                                <div class="container-fluid">
                                    <div>
                                        <span class="fa fa-snowflake-o fa-2x"></span>
                                    </div>
                                    <div style="margin-top: 20%;">
                                        <span>Snow Sports</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="square-responsive">
                            <div class="content">
                                <div class="container-fluid">
                                    <div>
                                        <span class="fa fa-glass fa-2x"></span>
                                    </div>
                                    <div style="margin-top: 20%;">
                                        <span>Party</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-4">
                        <div class="square-responsive">
                            <div class="content">
                                <div class="container-fluid">
                                    <div>
                                        <span class="fa fa-cutlery fa-2x"></span>
                                    </div>
                                    <div style="margin-top: 20%;">
                                        <span>Fancy Dinner</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="square-responsive">
                            <div class="content">
                                <div class="container-fluid">
                                    <div>
                                        <span class="fa fa-desktop fa-2x"></span>
                                    </div>
                                    <div style="margin-top: 20%;">
                                        <span>Working</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="square-responsive">
                            <div class="content">
                                <div class="container-fluid">
                                    <div>
                                        <span class="fa fa-shopping-bag fa-2x"></span>
                                    </div>
                                    <div style="margin-top: 20%;">
                                        <span>Shopping</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-grid-b form-group" style="border-bottom: 3px solid #ffffff; padding-left: 15px;">
                    <span style="color: #ffffff;">Customize</span>
                </div>

                <div class="row form-group">
                    <div class="col-xs-4">
                        <div class="square-responsive">
                            <div class="content">
                                <div class="container-fluid">
                                    <div>
                                        <span class="fa fa-plus fa-2x"></span>
                                    </div>
                                    <div style="margin-top: 20%;">
                                        <span>Customize</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div data-role="footer" class="jqm-footer ui-footer ui-bar-inherit ui-footer-fixed slideup">
        <button class="btn btn-block btn-default" id="beginPackingSubmit">Begin Packing</button>
    </div>

</div>

<script>
    $(document).ready(function(){
        $("#beginPackingSubmit").on("tap", function(){
            window.location.href = "packing.html";
        });
    });
</script>



</body>
</html>